The very first program

In [2]:
print("Hello world!")
print("Hello Andrew")

Hello world!
Hello Andrew

Variables

In [3]:
number = 1
string: str = "Anything"

Print variables

In [6]:
name = "Andrew"
number = 23

print(number)

23

Input function

In [7]:
name = input("Please prompt your name: ")

print(name)

Manuel

In [11]:
name = input("Name: ")
lastname = input("Lastname: ")
age = input("Age: ")

# print(name + " " + lastname + ", you are " + age)
print(f'{name} {lastname}, you are {age}')

Manuel Lugo, you are 23

Operations

In [22]:
number1 = 400
number2 = 123

number3 = number1 - number2

print(number3)

277

In [19]:
product = number1 * number2
division = number1 / number2

print(product)
print(division)

49200
3.252032520325203

In [20]:
integer_division = number1 // number2

print(integer_division)

3

In [21]:
num1 = 2
num2 = 4

power = num1**num2

print(power)

16

Logical operations

In [27]:
a = True
b = False

In [26]:
# Not operation

print(not a)
print(not b)

False
False

In [32]:
# Or operation

print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [35]:
eat_pizza = True
eat_burger = True

print(f"It's ok? {eat_pizza or eat_burger}")

It's ok? True

In [39]:
# And operation
eat_pizza = False
eat_burger = False

print(f"It's okay? {eat_pizza and eat_burger}")

It's okay? False

Comparing values

In [41]:
# Equals
a = 4
b = 5

print(f"They are equals? {a == b}")

They are equals? False

In [43]:
# Greater than
a = 4
b = 3

print(f"a is greater than b? {a > b}")

a is greater than b? True

In [45]:
# Lower than
a = 4
b = 3

print(f"a is lower than b? {a < b}")

a is lower than b? False

In [48]:
# Greater than or equal
a = 10
b = 4

print(f"A is greater than or equal to b? {a >= b}")

A is greater than or equal to b? True

In [51]:
# Lower than or equal
a = 4
b = 8

print(f"A is lower than or equal to b? {a <= b}")

A is lower than or equal to b? True

The age example

In [55]:
name = input("Name: ")
lastname = input("Lastname: ")
age = int(input("Age: "))

age_in_10_years = age + 10

print(f"{name}, you will be {age_in_10_years} in ten years")

ValueError: invalid literal for int() with base 10: 'Lugo'